
@import '../../scss/presets';


.player {
  text-align: center;
  background-position: center center;
  background-size: contain;
  margin-bottom: 10px;

  div {
    display: inline-block;
  }

  .player__main {
    color: $button-color;
    border: 1px solid $button-color;
    button {
      opacity: .4;
      color: $button-color;
      background: transparent;
      width: 170px;
      height: 170px;
      border: none;
      font-size: 70px;
      outline: none;

      &:hover {
        border: 1px solid $button-color;
        opacity: 1;
      }
    }
  }
}